.quote-card {
    background-color: rgb(255, 255, 255);
    max-width: 450px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px
}